


body{

  background-image: url(img/stonebackground.png);
  font-family: monospace ;
  color: #777777;
  letter-spacing: 1px;
}

.heroImage{

  background-image: url("img/cover.jpg");
  height:750px;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  background-size: cover;
}

.title{

  font-family: 'Trebuchet MS';
}

.move{
  margin: 20px;
}


.cards {

  /* float: left; */
  margin:auto;

}

.footer-height{

  height: 550px;
  margin-bottom: 0;
  padding-top: 150px;
}

.appstore-img{

  width: 300px;
  font-weight:
}



hr{

  margin:100px 100px 0px 100px;
  background-color: white;
}



.container2{

  margin-top: 200px !important;
}
